<div class="body">
  <div class="header-confirm"></div>
  <div class="cart-step4"></div>
  <div class = "container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="mt-4 mb-5 head-line title_h2 fas fa-check">送信完了しました</h2>
        <br><br>
        <p class="text-pop-up-top mb-5">
          確認まで少々お待ちください。（2~3日ほどお時間を頂く場合がございます）
        </p>
      </div>
    </div>
  </div>
</div>