<div class="footer-confirm"></div>
<div class='container'>
  <div class='d-flex align-items-center justify-content-center' style="height:300px;">
    <h1>送信完了しました</h1><br>
    <p>確認まで少々お待ちください（2~3日ほどお時間を頂く場合がございます）</p>
  </div>
</div>
  <div class="header-confirm"></div>
